.date {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 170px;
}

.date.selected {
  font-size: 18px;
  font-weight: bold;
  background-color: red;
  color: #fff;
}

.date:hover:not(.selected) {
  background-color: red;
}

.icons:hover{
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .date {
    display: none;
  }
  .date.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}
