<div class="p-30 flex flex-direction-column  justify-content-center fullWidth">
<h2>Makinat e Klientit</h2>
<div class="flex justify-content-center align-items-center cursor-pointer plus" (click)="openModal('edit','')">
  Shto Makina
  <span class="material-symbols-outlined">add</span>
</div>
<div class="client-list p-20">
  <div class="client-list-child car-list flex flex-direction-row justify-content-space-between align-items-center cursor-pointer"
      *ngFor="let car of filteredClients">
    <div  [routerLink]="['car/'+car._id]"
         class="client-details flex justify-content-space-evenly align-items-center">
      <div class="client-info">
        <span class="client-label">Brendi:</span>
        <span class="client-name">{{ car.make }}</span>
      </div>
      <div class="client-info">
        <span class="client-label">Modeli:</span>
        <span class="client-name">{{ car.model }}</span>
      </div>
      <div class="client-info">
        <span class="client-label">Motori:</span>
        <span class="text-email">{{ car.engine }}</span>
      </div>
      <div class="client-info">
        <span class="client-label">Viti:</span>
        <span class="text-email">{{ car.year }}</span>
      </div>

    </div>
    <div>
      <span class="material-symbols-outlined delete-button" (click)="openModal('delete',car)">close</span>
      <span class="material-symbols-outlined edit-button" (click)="openModal('edit',car)">edit</span>
      <span class="material-symbols-outlined add-button" (click)="openModal('service',car)">add</span>
    </div>

  </div>
</div>
</div>


<div class="modals" [class.show-modal]="serviceModal">
  <div class="modal-content">
    <span class="close material-symbols-outlined" (click)="closeModal()">close</span>
    <h2>Servis</h2>
    <div class=" flex flex-direction-row justify-content-space-between">
      <div class=" align-items-center flex justify-content-center">
        <div class="info-section">
          <h3>Kilometrat</h3>
          <input class="text-input" maxlength="6" [(ngModel)]="newService.km" type="text">
        </div>
        <div class="info-section">
          <h3>Filteri Ajrit</h3>
          <input class="checkbox" [(ngModel)]="newService.airFilter" type="checkbox">
        </div>
        <div class="info-section">
          <h3>Filteri Uljes</h3>
          <input type="checkbox" class="checkbox" [(ngModel)]="newService.oilFilter">
        </div>

      </div>
      <div class=" flex justify-content-center">
        <div class="info-section">
          <h3>Filteri Klimes</h3>
          <input type="checkbox" class="checkbox" [(ngModel)]="newService.airConFilter">
        </div>
        <div class="info-section">
          <h3>Filteri Karburantit</h3>
          <input type="checkbox" class="checkbox" [(ngModel)]="newService.pumpFilter">
        </div>
        <div class="info-section">
          <h3>Vaji i motorit</h3>
          <input type="checkbox" class="checkbox" [(ngModel)]="newService.engineOil">
        </div>
      </div>
    </div>
    <div>
      <h2>Pershkruaj punen</h2>
      <textarea class="fullWidth" style="height: 200px;font-size: 30px" [(ngModel)]="newService.description"></textarea>
    </div>
    <app-button iconName="close" text="Shto Service" (click)="addService()" class="mt-20 flex"></app-button>
  </div>
</div>

<div class="modals" [class.show-modal]="showModal">
  <div class="modal-content">
    <span class="close material-symbols-outlined" (click)="closeModal()">close</span>
    <h2>Informacionet e makines</h2>
    <div class="info-container">
      <div class="info-section">
        <h3>Brendi</h3>
        <input [(ngModel)]="newCar.make" type="text" >
      </div>
      <div class="info-section">
        <h3>Modeli</h3>
        <input [(ngModel)]="newCar.model" type="text" >
      </div>
      <div class="info-section">
        <h3>Motori</h3>
        <input [(ngModel)]="newCar.engine" type="text" >
      </div>
      <div class="info-section">
        <h3>Viti</h3>
        <input [(ngModel)]="newCar.year" type="text" >
      </div>
    </div>
    <app-button class="flex mt-30" (click)="editCar()" text="Ruaj" iconName="save"></app-button>
  </div>
</div>

<div class="modals" [class.show-modal]="deleteModal">
  <div class="modal-content">
    <span class="close material-symbols-outlined" (click)="closeModal()">close</span>
    <div class="flex flex-direction-column gap-40">
      <h2 class="textCenter">
        A JENI TE SIGURT SE DONI TE FSHINI KETE MAKINE NGA KLIENTI?
      </h2>

      <span class="material-symbols-outlined align-self-center" style="font-size: 60px;color: #dc3545">
      close
    </span>
      <h3 class="textCenter">Ne qofte se procedoni me fshierjen e makines , historia e servisit te makines do
        humbin !!!
      </h3>
    </div>
    <app-button (click)="deleteCar()"  text="Fshi" iconName="close"></app-button>
  </div>
</div>

