<div class="history-block">
  <h2>Makinat e Klientit</h2>
  <div style="display: flex;justify-content: center;align-items: center;cursor: pointer" (click)="openModal('edit','')">
    Shto Makina
    <span class="material-symbols-outlined">add</span>
  </div>
  <ul class="client-list">
    <li class="car-list" *ngFor="let car of filteredClients">
      <div (click)="openCarInfo()" [routerLink]="['car/'+car._id]" class="client-details">
        <div class="client-info">
          <span class="client-label">Brendi:</span>
          <span class="client-name">{{ car.make }}</span>
        </div>
        <div class="client-info">
          <span class="client-label">Modeli:</span>
          <span class="client-name">{{ car.model }}</span>
        </div>
        <div class="client-info">
          <span class="client-label">Motori:</span>
          <span class="client-email">{{ car.engine }}</span>
        </div>
        <div class="client-info">
          <span class="client-label">Viti:</span>
          <span class="client-email">{{ car.year }}</span>
        </div>

      </div>
      <div>
        <span class="material-symbols-outlined delete-button" (click)="openModal('delete',car)">close</span>
        <span class="material-symbols-outlined edit-button" (click)="openModal('edit',car)">edit</span>
        <span class="material-symbols-outlined add-button" (click)="openModal('service',car)">add</span>
      </div>

    </li>
  </ul>
</div>

<div class="modal" [class.show-modal]="serviceModal">
  <div class="modal-content">
    <span class="close material-symbols-outlined" (click)="closeModal()">close</span>
    <h2>Servis</h2>
    <div class="info-container-service">
      <div class="info-sections-row">
        <div class="info-section">
          <h3>Kilometrat</h3>
          <input class="text-input" maxlength="6" [(ngModel)]="newService.km" type="text">
        </div>
        <div class="info-section">
          <h3>Filteri Ajrit</h3>
          <input class="checkbox" [(ngModel)]="newService.airFilter" type="checkbox">
        </div>
        <div class="info-section">
          <h3>Filteri Uljes</h3>
          <input type="checkbox" class="checkbox" [(ngModel)]="newService.oilFilter">
        </div>

      </div>
      <div class="info-sections-row">
        <div class="info-section">
          <h3>Filteri Klimes</h3>
          <input type="checkbox" class="checkbox" [(ngModel)]="newService.airConFilter">
        </div>
        <div class="info-section">
          <h3>Filteri pompes</h3>
          <input type="checkbox" class="checkbox" [(ngModel)]="newService.pumpFilter">
        </div>
        <div class="info-section">
          <h3>Vaji i motorit</h3>
          <input type="checkbox" class="checkbox" [(ngModel)]="newService.engineOil">
        </div>
      </div>
    </div>
    <div class="description">
      <h2>Pershkruaj punen</h2>
      <textarea style="width: 100%;height: 200px;font-size: 30px" [(ngModel)]="newService.description"></textarea>
    </div>
    <div (click)="addService()" style="margin-top: 20px" class="text-center buttoni">Shto Servis</div>

  </div>
</div>

<div class="modal" [class.show-modal]="showModal">
  <div class="modal-content">
    <span class="close material-symbols-outlined" (click)="closeModal()">close</span>
    <h2>Informacionet e makines</h2>
    <div class="info-container">
      <div class="info-section">
        <h3>Brendi</h3>
        <input [(ngModel)]="newCar.make" class="text-input" type="text">
      </div>
      <div class="info-section">
        <h3>Modeli</h3>
        <input [(ngModel)]="newCar.model" type="text" class="text-input">
      </div>
      <div class="info-section">
        <h3>Motori</h3>
        <input [(ngModel)]="newCar.engine" type="text" class="text-input">
      </div>
      <div class="info-section">
        <h3>Viti</h3>
        <input [(ngModel)]="newCar.year" type="text" class="text-input">
      </div>
    </div>
    <button (click)="editCar(newCar)" style="margin-top: 20px" class="buttoni" type="submit">Ruaj</button>
  </div>
</div>

<div class="modal" [class.show-modal]="deleteModal">
  <div class="modal-content">
    <span class="close material-symbols-outlined" (click)="closeModal()">close</span>
    <div>
      &nbsp;
    </div>
    <div>
      &nbsp;
    </div>
    <div>
      &nbsp;
    </div>
    <h2>
      A JENI TE SIGURT SE DONI TE FSHINI KETE KLIENT?
    </h2>
    <div>
      &nbsp;
    </div>
    <span class="material-symbols-outlined close-icon" style="font-size: 60px;color: red">
      close
    </span>
    <div>
      &nbsp;
    </div>
    <h3>
      Ne qofte se procedoni me fshierjen e klientit , historia e serviseve te makinave qe i takojn ketij klienti do
      vazhdoni ti keni ne arhive
    </h3>
    <div (click)="deleteCar()" style="margin-top: 20px" class="text-center buttoni">FSHI</div>
  </div>
</div>

<app-toaster></app-toaster>
