.container {
  display: flex;
  height: 97vh;
}


.left-side {
  flex: 1;
  background-color: #f8f9fa; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  flex: 1;
  background-color: #dc3545; /* Red background */
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: black; /* Text color on the right side */
}

.form-group {
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa; /* Light gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #dc3545; /* Red color */
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #c82333; /* Darker red color on hover */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    flex: none;
    width: 100%;
  }

  .right-side {
    padding: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .btn-primary {
    width: 100%;
  }
}
