/* Custom styles for the form */

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.left-side {
  height: 100%;
  background-color: #f8f9fa; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.right-side {
  height: 100%;
  width: 60%;
  background-color: #0085ad; /* Red background */
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: black; /* Text color on the right side */
}

.form-wrapper {
  max-width: 400px;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333; /* Darker text color */
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black; /* Lighter text color */
}

.form-control {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  outline: none;
  border-color: #dc3545;
}

.btn-primary {
  width: 100%;
  margin-top: 1rem;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #c82333;
  border-color: #c82333;
}

/* Responsive styles */
@media screen and (max-width: 768px) {

  .left-side,
  .right-side{
    width: 100%;
  }

  .container{
    overflow: hidden;
    flex-direction: column-reverse;
  }
  .form-wrapper {
    padding: 1rem; /* Reduce padding for smaller screens */
  }

  .form-group {
    margin-bottom: 1rem; /* Reduce margin for smaller screens */
  }
}
