<div class="container">
  <div class="left-side">
    <!-- Your company logo/branding -->
    <img class="image" src="/assets/AA.png" alt="Company Logo" style="max-width: 100%; height: auto;">
  </div>
  <div class="right-side">
    <form>
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control" required>
      </div>
      <button (click)="login()" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
