<div class="clients-container flex flex-direction-column" style="padding: 20px">
  <div class="flex justify-content-space-between align-items-center">
    <h2>Magazina</h2>
    <h2>
      <div (click)="showModal=true"
           class="register-client flex justify-content-center align-items-center cursor-pointer">
        <span class="material-symbols-outlined">add</span>
        Regjistro Artikull
      </div>
    </h2>
  </div>
  <div>
    <input class="input-search" type="text" placeholder="   Kerko artikull me numer serik" [(ngModel)]="searchTerm">
  </div>
  <div style="height:80vh;overflow-y: auto;">
    <div class="flex justify-content-space-between">
      <div class="mt-20 mb-10 flex gap-20">
        <div *ngIf="reminders('warning')" class="flex align-items-center justify-content-space-between">
          Artikujt me sasi shume te vogel
          <app-icon (click)="openRemainingModal('warning');remainingModalTitle=' Artikujt me sasi shume te vogel'"
                    class="cursor-pointer" style="color:orange"
                    iconName="warning"></app-icon>
        </div>
        <div *ngIf="reminders('danger')" class="flex align-items-center justify-content-space-between">
          Artikujt ne perfundim e siper
          <app-icon (click)="openRemainingModal('danger');remainingModalTitle='Artikujt ne perfundim e siper'"
                    class="cursor-pointer" style="color:red"
                    iconName="error"></app-icon>
        </div>
        <div *ngIf="reminders('dangerous')" class="flex align-items-center justify-content-space-between">
          Artikujt qe kane perfunduar
          <app-icon (click)="openRemainingModal('dangerous');remainingModalTitle='Artikujt qe kane perfunduar'"
                    class="cursor-pointer" style="color:red"
                    iconName="dangerous"></app-icon>
        </div>
      </div>

    </div>
    <div>

      <ng-container cdkColumnDef="username">
        <cdk-table #table [dataSource]="filteredItems" class="example-table flex-direction-column">
          <ng-container cdkColumnDef="serialCode">
            <cdk-header-cell *cdkHeaderCellDef class="example-header-cell textCenter"><h3> Numri Serik</h3>
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="example-cell textCenter">

              <div class="flex align-items-center justify-content-center gap-10">
                <app-icon [iconName]="qntStatus(row.qnt)" style="color: red"></app-icon>
                {{row.serialCode}}
              </div>
            </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="name">
            <cdk-header-cell *cdkHeaderCellDef class="example-header-cell textCenter "><h3>Emri</h3></cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="example-cell textCenter cursor-pointer"
                      [appTooltip]="row.name"> {{row.name }} </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="shelfNumber">
            <cdk-header-cell *cdkHeaderCellDef class="example-header-cell textCenter is-mobile "><h3> Renditja ne
              raft </h3>
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="example-cell textCenter is-mobile cursor-pointer"
                      [appTooltip]="row.shelfNumber"> {{row.shelfNumber | truncate:10}} </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="price">
            <cdk-header-cell *cdkHeaderCellDef class="example-header-cell textCenter"><h3>Cmimi</h3></cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="example-cell textCenter cursor-pointer" [appTooltip]="row.price + 'den / ' +
               Math.round(row.price / 61.5 ) + 'euro'">{{ row.price + 'den / ' +
            Math.round(row.price / 61.5) + 'euro' | truncate:10}}
            </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="carAndYear">
            <cdk-header-cell *cdkHeaderCellDef class="is-mobile example-header-cell textCenter"><h3>Vetura / Viti</h3>
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let row"
                      class="example-cell textCenter is-mobile cursor-pointer"> {{row.carAndYear}} </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="engineType">
            <cdk-header-cell *cdkHeaderCellDef class="example-header-cell textCenter is-mobile"><h3> Tipi Motorit </h3>
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="example-cell textCenter is-mobile cursor-pointer"
                      [appTooltip]="row.engineType?row.engineType : ''"> {{row.engineType }} </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="qnt">
            <cdk-header-cell *cdkHeaderCellDef class="example-header-cell textCenter"><h3> Sasia </h3></cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="example-cell flex  justify-content-center ">
              <div class=" flex gap-10 flex align-items-center ">
                <div class="icon-round cursor-pointer" [class.icon-plus]="mouseenter" (mouseover)="mouseenter=true"
                     (click)="itemQuantity(row,'add')">
                  <app-icon iconName="add"></app-icon>
                </div>
                <span class="client-name">{{ row.qnt }}</span>
                <div class="icon-round cursor-pointer" [class.icon-minus]="mouseenter" [class.not-allowed]="row.qnt===0"
                     (mouseover)="mouseenter=true"
                     (click)="itemQuantity(row,'remove')">
                  <app-icon iconName="remove"></app-icon>
                </div>
              </div>
            </cdk-cell>
          </ng-container>
          <ng-container cdkColumnDef="description">
            <cdk-header-cell *cdkHeaderCellDef class="example-header-cell textCenter is-mobile"><h3>Pershkrimi</h3>
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="example-cell textCenter is-mobile"
                      [appTooltip]="row.description!==null ? row.description : ' '"> {{row.description ? row.description : '' | truncate:12}} </cdk-cell>
          </ng-container>

          <ng-container cdkColumnDef="saveButton">
            <cdk-header-cell *cdkHeaderCellDef class="example-header-cell textCenter">Modifikimet</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="example-cell textCenter flex  justify-content-center">
              <app-button *ngIf="hasChanged(row)" text="Ruaj Ndryshimet" iconName="save"
                          (click)="updateItem(row)"></app-button>
              <div *ngIf="!hasChanged(row) &&localStorage.getItem('role')==='admin' "
                   (click)="selectedId=row._id;deleteModal=true"
                   class="client-info flex align-items-center fshi ">
                <span class="client-label">Fshi</span>
                <span class="material-symbols-outlined close-icon cursor-pointer  ">close</span>
              </div>
              <div *ngIf="localStorage.getItem('role')==='admin'"
                   (click)="selectedId=row._id;showModal=true;code=row.serialCode;changes(row.serialCode)"
                   class="client-info flex align-items-center fshi ">
                <span class="client-label">Edit</span>
                <span class="material-symbols-outlined close-icon cursor-pointer  ">edit</span>
              </div>
            </cdk-cell>
          </ng-container>
          <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="example-header-row"></cdk-header-row>
          <cdk-row *cdkRowDef="let row; columns: displayedColumns;" class="example-row"></cdk-row>
        </cdk-table>
      </ng-container>
    </div>
  </div>

</div>

<div class="modals" [class.show-modal]="showModal">
  <div class="modal-content">
    <span class="close" (click)="showModal=!showModal">&times;</span>
    <div>
      <h2>Shto Artikull</h2>
      <div class="flex flex-direction-column align-items-center fullWidth mb-10 ">
        <div class="fullWidth">
          <h3>Kodi:</h3>
          <input (input)="changes(code)" style="text-transform: uppercase" [(ngModel)]="code" type="text"
                 id="serialCode" name="serialCode">
        </div>
        <div class="fullWidth" *ngIf="code.length >=6 && newItem!==null">
          <div class=" fullWidth">
            <h3>Emri Artikullit:</h3>
            <input type="text" id="name" name="name" [(ngModel)]="newItem.name" required>
          </div>
          <div class="fullWidth">
            <h3>Cmimi:</h3>
            <input type="text" id="price" name="price" [(ngModel)]="newItem.price" required>
          </div>
          <div class="fullWidth">
            <h3>Sasia:</h3>
            <input type="text" id="qnt" name="qnt" [(ngModel)]="newItem.qnt">
          </div>
          <div class="fullWidth">
            <h3>Renditja raft:</h3>
            <input type="text" id="shelf" name="qnt" [(ngModel)]="newItem.shelfNumber">
          </div>
          <div class="fullWidth">
            <h3>Vetura / Viti:</h3>
            <input type="text" id="carYear" name="qnt" [(ngModel)]="newItem.carAndYear">
          </div>
          <div class="fullWidth">
            <h3>Tipi motorit:</h3>
            <input type="text" id="engineType" name="qnt" [(ngModel)]="newItem.engineType">
          </div>
          <div class="fullWidth">
            <h3>Pershkrimi:</h3>
            <input type="text" id="desc" name="qnt" [(ngModel)]="newItem.description">
          </div>
        </div>
      </div>
      <app-button text="Shto" iconName="add" (click)="saveItem()"></app-button>
    </div>
  </div>
</div>

<div class="modals" [class.show-modal]="deleteModal">
  <div class="modal-content">
    <div>
      <span class="close material-symbols-outlined" (click)="deleteModal=false">close</span>
      <div class="flex justify-content-center flex-direction-column gap-40">
        <h2>
          A jeni te sigurt se doni te fshini artikullin ?
        </h2>
        <span class="material-symbols-outlined close-icon align-self-center"
              style="font-size: 60px;color: #dc3545">
      close
    </span>
        <h3 class="textCenter">
          Ne qofte se procedoni me fshierjen e artikullit , do humbisni cdo te dhene sa i perket ketij artikulli.
        </h3>
      </div>
      <app-button (click)="deleteItem(selectedId);deleteModal=false" text="Fshi" iconName="close"></app-button>
    </div>
  </div>
</div>


<div class="modals" [class.show-modal]="remainingModal">
  <div class="modal-content" style="overflow-y: auto;">
    <span class="close material-symbols-outlined " (click)="remainingModal=false">close</span>
    <div>
      {{remainingModalTitle}}
    </div>
    <div *ngFor="let item of remainingItems" class="mt-10">
      <ul>
        <li class="flex justify-content-space-evenly" style="border-bottom: 1px solid black">
          <div>
            KODI:
            {{item.serialCode}}
          </div>
          <div>
            EMRI:
            {{item.name}}
          </div>
          <div>
            VETURA:
            {{item.carAndYear}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>



