<div class="clients-container flex flex-direction-column">
  <div class="flex justify-content-space-between align-items-center">
    <h2>Klientet</h2>
    <h2 (click)="switchModal()">
      <div class="register-client flex justify-content-center align-items-center cursor-pointer">
        <span class="material-symbols-outlined">add</span>
        Regjistro Klient
      </div>
    </h2>
  </div>
  <div>
    <input  type="text" placeholder="Search clients" [(ngModel)]="searchTerm">
  </div>
  <ul class="client-list">
    <li class="cursor-pointer" style="border-radius: 20px" *ngFor="let client of filteredClients">
      <div class="client-details" >
        <div [routerLink]="client._id"
             class="client-details flex justify-content-space-evenly halfWidth align-items-center" >
          <div class="client-info flex gap-10" >
            <span class="client-label">Name:</span>
            <span class="client-name">{{ client.fullname }}</span>
          </div>
        </div>
        <div (click)="selectedId=client._id;deleteModal=true" class="client-info flex align-items-center fshi ">
          <span class="client-label">Fshi</span>
          <span class="material-symbols-outlined close-icon">close</span>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="modals" [class.show-modal]="showModal">
  <div class="modal-content">
    <span class="close" (click)="switchModal()">&times;</span>
    <div>
      <h2>Shto Klient</h2>
      <div class="flex flex-direction-column align-items-center fullWidth ">
        <div class=" fullWidth">
          <h3>Emri dhe Mbiemri:</h3>
          <input type="text" id="name" name="name" [(ngModel)]="newClient.fullname" required>
        </div>
        <div class="fullWidth">
          <h3>Email:</h3>
          <input type="email" id="email" name="email" [(ngModel)]="newClient.email" required>
        </div>
        <div class="fullWidth">
          <h3>Telefoni:</h3>
          <input type="tel" id="phone" name="phone" [(ngModel)]="newClient.phone">
        </div>
        <div class="fullWidth">
          <h3>Adresa:</h3>
          <input type="text" id="address" name="address" [(ngModel)]="newClient.address">
        </div>
      </div>
      <app-button text="Shto" iconName="add" (click)="saveClient()"></app-button>
    </div>
  </div>
</div>

<div class="modals" [class.show-modal]="deleteModal">
  <div class="modal-content">
    <div>
      <span class="close material-symbols-outlined" (click)="deleteModal=false">close</span>
      <div class="flex justify-content-center flex-direction-column gap-40">
        <h2>
          A jeni te sigurt se doni te fshini klientin ?
        </h2>
        <span class="material-symbols-outlined close-icon align-self-center"
              style="font-size: 60px;color: #dc3545">
      close
    </span>
        <h3 class="textCenter">
          Ne qofte se procedoni me fshierjen e klientit , historia e serviseve te makinave qe i takojn ketij klienti do
          te jete ne arhive
        </h3>
      </div>
      <app-button (clicked)="deleteClient(selectedId);deleteModal=false" text="Fshi" iconName="close"></app-button>
    </div>
  </div>
</div>

<app-toaster></app-toaster>
