.clients-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90vw;
}

.search-bar {
  display: flex;
}

.input-search {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.client-list {
  list-style-type: none;
  padding: 0;
}

.client-list li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.client-list li:hover {
  background-color: #f2f2f2;
}

.client-list li:last-child {
  margin-bottom: 0;
}

.client-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-details div {
  flex: 1;
  padding-right: 10px;
}

.client-details div:last-child {
  padding-right: 0;
}

.client-name {
  font-weight: bold;
}

.client-email {
  color: #666; /* Color for email */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: -120px;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.show-modal {
  display: block;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttoni {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttoni:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.buttoni:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.register-client {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.register-client:hover {
  padding: 5px;
  border-radius: 20px;
  /*font-size: 20px;*/
  background-color: red;
  color: white;
}

@media screen and (max-width: 768px) {
  .text-center{
    text-align: center;
  }
  .modal {
    width: 100% ;
    top: 0;
    left: 0;
  }

  .modal-content {
    width: 70%;
  }

  .clients-container{
    width: 100%;
    height: 100vh;
  }


}
