<div class="clients-container">
  <div style="display: flex;justify-content: space-between;align-items: center">
  <h2>Klientet</h2>
    <h2 (click)="switchModal()">
      <div class="register-client" style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
      <span class="material-symbols-outlined">add</span>
      Regjistro Klient
      </div>
    </h2>
  </div>
  <div class="search-bar">
    <input class="input-search" type="text" placeholder="Search clients" [(ngModel)]="searchTerm">
  </div>
  <ul class="client-list">
    <li *ngFor="let client of filteredClients">

      <div [routerLink]="client._id" class="client-details">
        <div class="client-info">
          <span class="client-label">Name:</span>
          <span class="client-name">{{ client.fullname }}</span>
        </div>
        <div class="client-info">
          <span class="client-label">Email:</span>
          <span class="client-email">{{ client.email }}</span>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="modal" [class.show-modal]="showModal">
  <div class="modal-content">
    <span class="close" (click)="switchModal()">&times;</span>
    <h2>Shto Klient</h2>
    <form >
      <div class="form-group">
        <label for="name">Emri dhe Mbiemri:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newClient.fullname" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="newClient.email" required>
      </div>
      <div class="form-group">
        <label for="phone">Telefoni:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="newClient.phone">
      </div>
      <div class="form-group">
        <label for="address">Adresa:</label>
        <input type="text" id="address" name="address" [(ngModel)]="newClient.address">
      </div>
      <div class="buttoni" (click)="saveClient()">Add</div>
    </form>
  </div>
</div>
