<div>
  <h2>Historia</h2>
  <div *ngIf="history.length===0">Ska Rezultate</div>
  <ul class="history-list" *ngFor="let service of history">
    <li class="textDecorationUnderline cursor-pointer" (click)="openModal(service)">
      {{service.createdAt}}
    </li>
  </ul>

  <div class="modals" [class.show-modal]="showModal">
    <div class="modal-content">
      <app-icon iconName="close" class="close-button close" (click)="closeModal()"></app-icon>
      <h2>Informacionet e fundit</h2>
      <div class="info-container flex flex-direction-row" >
        <div class=" fullWidth flex align-items-center justify-content-center">
          <div class="info-section">
            <h3>Kilometrat</h3>
            <div> {{info.km}}</div>
          </div>
          <div class="info-section">
            <h3>Filteri Ajrit</h3>
            <app-icon [style.color]="info.airFilter?'green':'red'" [iconName]="info.airFilter ? 'done' : 'close'"></app-icon>
          </div>
          <div class="info-section">
            <h3>Filteri Uljes</h3>
            <app-icon [style.color]="info.oilFilter?'green':'red'" [iconName]="info.oilFilter ? 'done' : 'close'"></app-icon>
          </div>
        </div>
        <div class=" fullWidth flex align-items-center justify-content-center ">
          <div class="info-section">
            <h3>Filteri Klimes</h3>
            <app-icon [style.color]="info.airConFilter?'green':'red'" [iconName]="info.airConFilter ? 'done' : 'close'"></app-icon>
          </div>
          <div class="info-section">
            <h3>Filteri pompes</h3>
            <app-icon [style.color]="info.pumpFilter?'green':'red'" [iconName]="info.pumpFilter ? 'done' : 'close'"></app-icon>
          </div>
          <div class="info-section">
            <h3>Vaji i motorit</h3>
            <app-icon [style.color]="info.engineOil?'green':'red'" [iconName]="info.engineOil ? 'done' : 'close'"></app-icon>
          </div>
        </div>
      </div>

      <div class="mt-20">
        {{info.description}}
      </div>
    </div>
  </div>

</div>
