<div>
  <h2>Historia</h2>
  <div *ngIf="history.length===0">Ska Rezultate</div>
  <ul class="history-list" *ngFor="let service of history">
    <li class="textDecorationUnderline cursor-pointer" (click)="openModal(service)">
      {{service.createdAt}} {{service.invoiceId ? 'Fature':'Servis'}}
    </li>
  </ul>

  <div class="modals" [class.show-modal]="showModal">
    <div class="modal-content">
      <app-icon iconName="close" class="close-button close" (click)="closeModal()"></app-icon>
      <h2>Informacionet e fundit</h2>
      <div class="info-container flex flex-direction-row" >
        <div class=" fullWidth flex align-items-center justify-content-center">
          <div class="info-section">
            <h3>Kilometrat</h3>
            <div> {{info.km}}</div>
          </div>
          <div class="info-section">
            <h3>Filteri Ajrit</h3>
            <app-icon [style.color]="info.airFilter?'green':'red'" [iconName]="info.airFilter ? 'done' : 'close'"></app-icon>
          </div>
          <div class="info-section">
            <h3>Filteri Uljes</h3>
            <app-icon [style.color]="info.oilFilter?'green':'red'" [iconName]="info.oilFilter ? 'done' : 'close'"></app-icon>
          </div>
        </div>
        <div class=" fullWidth flex align-items-center justify-content-center ">
          <div class="info-section">
            <h3>Filteri Klimes</h3>
            <app-icon [style.color]="info.airConFilter?'green':'red'" [iconName]="info.airConFilter ? 'done' : 'close'"></app-icon>
          </div>
          <div class="info-section">
            <h3>Filteri Karburantit</h3>
            <app-icon [style.color]="info.pumpFilter?'green':'red'" [iconName]="info.pumpFilter ? 'done' : 'close'"></app-icon>
          </div>
          <div class="info-section">
            <h3>Vaji i motorit</h3>
            <app-icon [style.color]="info.engineOil?'green':'red'" [iconName]="info.engineOil ? 'done' : 'close'"></app-icon>
          </div>
        </div>
      </div>

      <div class="mt-20">
        {{info.description}}
      </div>
    </div>
  </div>

</div>

<div *ngIf="previewModal">
  <div class="modals" [class.show-modal]="previewModal">
    <div class="modal-content">
      <span class="close material-symbols-outlined" (click)="previewModal=false;invoiceToPrint=null">close</span>

      <div>
        <div class="invoice-container" [class.unpaid]="!invoiceToPrint?.status" [class.paid]="invoiceToPrint?.status">
          <div class="header">
            <div class="company-info">
              <p><strong>Auto Service Bajram</strong><br>
                Bajram Iseni<br>
                Recice e Madhe bb 101<br>
                Tel. 070 532 371</p>
            </div>
            <div class="logo">
              <img src="/assets/AA.png" height="180" width="240" alt="Company Logo">
            </div>
            <div class="invoice-info">
              <p><strong>Numri Fatures: {{invoiceToPrint?.invoiceId}}</strong><br>
                Vendi Leshimit : Tetove<br>
                Data e Leshimit:<span>{{Date() | date: 'dd/MM/yyyy'}}</span> <br>
            </div>
          </div>

          <div class="section">
            <p>
              Emri Klientit:
              <span class="title"> {{invoiceToPrint?.clientName}}</span>
            </p>
            <p *ngIf="invoiceToPrint.phone">
              Telefoni i Klientit:
              <span class="title"> {{invoiceToPrint?.phone}}</span>
            </p>
            <p *ngIf="invoiceToPrint.car">
              Makina e Klientit:
              <span class="title"> {{invoiceToPrint.car}}</span>
            </p>
          </div>

          <div class="section">
            <table class="items-table">
              <thead>
              <tr>
                <th>#</th>
                <th>Artikulli</th>
                <th>Sasia</th>
                <th>Cmimi</th>
                <th>Totali</th>
              </tr>
              </thead>
              <tbody *ngFor="let art of invoiceToPrint?.items;index as i">
              <tr>
                <td>{{i}}</td>
                <td>{{art.art}}</td>
                <td>{{art.qty}}</td>
                <td>{{art.price}}</td>
                <td>{{art.total}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="section mb-30">
            <div class="title">Kontrolli</div>
            <p *ngIf="invoiceToPrint?.discount">
              Totali pa zbritje: {{invoiceToPrint?.totalPrice}}<br>
              <span *ngIf="invoiceToPrint?.discount">
        Zbritje: {{invoiceToPrint?.discount}} %
        </span>
            </p>
            <div class="totals">
              <div class="total-row">
                <span>Per pages MKD:</span>
                <span *ngIf="!invoiceToPrint?.discount">{{invoiceToPrint?.totalPrice}} MKD</span>
                <span
                  *ngIf="invoiceToPrint?.discount">{{invoiceToPrint?.totalPrice - ((invoiceToPrint?.discount / 100) * invoiceToPrint?.totalPrice)}}
                  MKD</span>
              </div>
              <div class="total-row">
                <span>Per pages ne euro:</span>
                <span *ngIf="!invoiceToPrint?.discount">{{(invoiceToPrint?.totalPrice / 61.4).toFixed(2)}} EURO</span>
                <span
                  *ngIf="invoiceToPrint?.discount">{{((invoiceToPrint.totalPrice - ((invoiceToPrint?.discount / 100) * invoiceToPrint?.totalPrice)) / 61.4).toFixed(2)}}
                  EURO</span>
              </div>
            </div>
          </div>

          <div class="mt-30 flex justify-content-space-between">
            <div>
              <p>Dorezoi</p>
              <p>_______________________________</p>
            </div>
            <div>
              <p>Pranoi</p>
              <p>_______________________________</p>
            </div>
          </div>
          <div class="footer">
            <p>Vlera e perdorur per te konvertuar Denarin ne euro eshte 61.4</p>
            <p>Me ne gjithmone te sigurte</p>
            <p>Ju falemnderit</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

