.history-block {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-list {
  padding: 0;
  font-weight: bold;
}

.history-list:hover {
  font-size: 17px;
  color: #dc3545;
}

.info-section {
  width: 48%;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .info-container {
    flex-direction: column;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    width: 100%;
    height: 200px;
    font-size: 30px;
    border: 1px solid black;
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .company-info, .header .invoice-info {
  width: 45%;
}

.header .company-info {
  text-align: left;
}

.header .invoice-info {
  text-align: right;
}

.section {
  margin-top: 20px;
}

.section .title {
  font-weight: bold;
  margin-bottom: 10px;
}

.details-table, .items-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details-table th, .details-table td, .items-table th, .items-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.items-table th, .details-table th {
  background-color: #f2f2f2;
}

.totals {
  text-align: right;
  margin-top: 20px;
}

.totals .total-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.totals .total-row span {
  width: 50%;
}

.payments {
  margin-top: 20px;
}

.footer {
  bottom: 0;
  left: 25%;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px; /* adjust the font size to ensure the content fits */
}

.items-table th, .items-table td {
  border: 1px solid #ccc;
  padding: 4px; /* reduce padding to fit more content */
}

.items-table th {
  background-color: #f2f2f2;
}
