@media print {
  .non-printable {
    display: none;
  }
}

.clients-container {
  padding: 20px;
}

.input-search {
  /*border: 1px solid #ccc;*/
  /*border-radius: 5px;*/
  /*font-size: 16px;*/
}

.client-list {
  list-style-type: none;
  padding: 0;
}

.client-list li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
}

.client-list li:hover {
  background-color: #f2f2f2;
}

.client-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fshi:hover, .close-icon:hover {
  color: #dc3545
}

.client-name:hover {
  color: black;
}

.close-icon {
  color: #dc3545;
}

.client-name {
  font-weight: bold;
}

.form-group label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}


.register-client:hover {
  color: #dc3545;
}

@media screen and (max-width: 768px) {
  .client-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80vw;
  }

}


.icon-round {
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em
}

.icon-round:hover {
  box-shadow: 0 0 7px #888;
}

.icon-minus:hover {
  border: 1px solid red;
}

.icon-plus:hover {
  border: 1px solid green;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-table {
  flex: 1 1 auto;
  overflow: auto;
  max-height: 500px;
}

.example-header-row, .example-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  height: 52px;
  padding: 0 8px;
}

.example-cell, .example-header-cell {
  flex: 1;
}

.example-header-cell {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}

.example-cell {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.invoice-container {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  height: 95%;
}

.paid::after {
  content: "E Paguar";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg); /* Center and rotate the stamp */
  font-size: 5em; /* Adjust size as needed */
  color: green;
  font-weight: bold;
  border: 3px solid green; /* Red border with transparency */
  padding: 10px 20px; /* Padding for the stamp */
  opacity: 0.5; /* Adjust transparency */
  z-index: 10; /* Ensure it is above other content */
  pointer-events: none; /* Allow clicking through the stamp */
}

.unpaid::after {
  content: "E Pa Paguar";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg); /* Center and rotate the stamp */
  font-size: 5em; /* Adjust size as needed */
  color: rgba(255, 0, 0, 0.5); /* Red color with transparency */
  font-weight: bold;
  border: 3px solid rgba(255, 0, 0, 0.5); /* Red border with transparency */
  padding: 10px 20px; /* Padding for the stamp */
  opacity: 0.5; /* Adjust transparency */
  z-index: 10; /* Ensure it is above other content */
  pointer-events: none; /* Allow clicking through the stamp */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .company-info, .header .invoice-info {
  width: 45%;
}

.header .company-info {
  text-align: left;
}

.header .invoice-info {
  text-align: right;
}

.section {
  margin-top: 20px;
}

.section .title {
  font-weight: bold;
  margin-bottom: 10px;
}

.details-table, .items-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details-table th, .details-table td, .items-table th, .items-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.items-table th, .details-table th {
  background-color: #f2f2f2;
}

.totals {
  text-align: right;
  margin-top: 20px;
}

.totals .total-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.totals .total-row span {
  width: 50%;
}

.payments {
  margin-top: 20px;
}

.footer {
  bottom: 0;
  left: 25%;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px; /* adjust the font size to ensure the content fits */
}

.items-table th, .items-table td {
  border: 1px solid #ccc;
  padding: 4px; /* reduce padding to fit more content */
}

.items-table th {
  background-color: #f2f2f2;
}


.checkbox {
  height: 28px;
  width: 28px;
}
