.slot {
  width: 200px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-container {
  /*width: 90vw;*/
}

.slot:hover {
  box-shadow: 0 0 0 5px #ccc;
}

.slot-time {
  display: none;
}

.agenda-slot {
  margin: 10px 10px 20px;
}


.is-new-client-content {
  gap:50px
}

.container {
  max-width: 600px;
  margin: 0 auto;
}




.time {
  font-size: 30px;
}

.reserved {
  background-color: red;
}

.available {
  background-color: #0000FF;
}

.done {
  background-color: #00FF00;
}

.reserved, .available, .done {
  color: white;
}

.select-wrapper {
  margin-bottom: 20px;
}



select,
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.info-section {
  margin-bottom: 10px;
}

.client-info h2,
.car-info h2 {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.client-info p,
.car-info p {
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.select-client {
  font-weight: bold;
}

.select-car {
  opacity: 1;
}

.select-car[disabled] {
  opacity: 0.7;
}


@media only screen and (max-width: 600px) {

  .calendar-container {
    overflow-y: scroll !important;
    width: 100vw;
  }

  .is-new-client-content {
    display: flex;
    flex-direction: column;
  }

  .slot-container {
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .agenda-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .time {
    display: none;
  }

  .slot {
    width: 70vw
  }

  .slots-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .slot-time {
    display: block;
  }

  .agenda-slot {
    margin: 5px 0; /* Adjust margin for slots */
  }

  .tooltip {
    display: none;
  }
}



