<div style="display: flex; justify-content: space-evenly">
  <div class="time" style="display: flex; justify-content: inherit; flex-direction: column">
    <div *ngFor="let slot of lifts[0].timeslots">
      {{ slot.time }}
    </div>
  </div>
  <div *ngFor="let item of lifts">
    <h3>Lifti {{item.lift}}</h3>
    <div>
      <div *ngFor="let slot of item.timeslots;index as i">
        <div class="agenda-slot">
          <div [ngClass]="{'reserved': slot.reserved, 'available': !slot.reserved}"
               style="width: 300px; height: 50px; padding: 10px; border-radius: 5px; border: 1px solid #ccc; cursor: pointer; transition: background-color 0.3s ease;"
               (click)="reserveSlot(item.lift - 1, i,slot);openModal(slot.reserved,item.lift,slot.time)">
            {{ slot.reserved ? 'I Rezervuar' : 'I Lir' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [class.show-modal]="showModal">
  <div class="modal-content">
    <span class="close material-symbols-outlined"  (click)="closeModal()">close</span>
    <div class="buttoni" (click)="toggleClientSelection()"
         style="margin-bottom: 5px;margin-right: 50px">{{ isNewClient ? 'Zgjidh Klientin Ekzistues' : 'Shto Klient te Ri' }}</div>
    <div style="display: flex; justify-content: space-evenly; margin: auto">
      <div *ngIf="isNewClient; else existingClientForm" class="container">
        <div class="info-section">
          <h3>Emri dhe Mbiemri</h3>
          <input [(ngModel)]="newClient.fullname" placeholder="Emri dhe Mbiemri" type="text">
        </div>
        <div class="info-section">
          <h3>Brendi Makines</h3>
          <input [(ngModel)]="newCar.make" placeholder="p.sh Mercedes/BMW" type="text">
        </div>
        <div class="info-section">
          <h3>Modeli Makines</h3>
          <input [(ngModel)]="newCar.model" placeholder="p.sh C-Class/E-Class" type="text">
        </div>
        <div class="info-section">
          <h3>Viti Makines</h3>
          <input [(ngModel)]="newCar.year" placeholder="Viti makines" type="text">
        </div>
        <div class="info-section">
          <h3>Motori</h3>
          <input [(ngModel)]="newCar.engine" placeholder="p.sh 2.0/3.0/5.0" type="text">
        </div>
        <div class="info-section">
          <h3>Numri Telefonit</h3>
          <input [(ngModel)]="newClient.phone" placeholder="0701234567" type="text">
        </div>
      </div>

      <ng-template #existingClientForm>
        <div class="container">
          <div class="client-section">
            <div class="select-wrapper">
              <h3>Klienti</h3>
              <select class="select-client" [(ngModel)]="selectedClient" (change)="loadCars()">
                <option [ngValue]="client" *ngFor="let client of clients">{{client.fullname}}</option>
              </select>
            </div>

            <div class="select-wrapper">
              <h3>Makina e klientit</h3>
              <select class="select-car" [disabled]="cars.length === 0">
                <option *ngFor="let car of cars">{{car.model}}</option>
              </select>
            </div>
          </div>
        </div>

      </ng-template>
      <div style="width: 50%;">
        <div class="info-section" style="height: 80%">
          <h3>Cka duhet te punohet</h3>
          <textarea [(ngModel)]="description" placeholder="Cka duhet bere" style="height: 100%;width: 90%;font-size: 20px"></textarea>
        </div>
      </div>
    </div>
    <div>
      <div  (click)="saveAgenda()" style="margin-top: 20px" class="buttoni" >Rezervo</div>
    </div>
  </div>
</div>

<div class="modal" [class.show-modal]="infoModal">
  <div class="modal-content">
    <span class="close material-symbols-outlined" (click)="closeModal()">close</span>
      <h2>Informacionet e Klientit</h2>
    <div class="client-info">
      <div>
        <p><strong>Emri dhe Mbiemri:</strong> {{client?.fullname}}</p>
        <p><strong>Numri Telefonit:</strong> {{client?.phone}}</p>
        <p><strong>Adresa:</strong> {{client?.address}}</p>
        <p><strong>Email:</strong> {{client?.email}}</p>
      </div>
    </div>
      <h2> Informacionet e Makines</h2>
    <div class="car-info">
      <div>
        <p><strong>Brendi:</strong> {{car?.model}}</p>
        <p><strong>Modeli:</strong> {{car?.make}}</p>
        <p><strong>Motori:</strong> {{car?.engine}}</p>
        <p><strong>Viti:</strong> {{car?.year}}</p>
      </div>
    </div>
    <div class="action">
      <textarea [(ngModel)]="description" placeholder="What needs to be done" style="height: 100%; width: 90%; font-size: 20px"></textarea>
      <div (click)="closeModal()" class="buttoni">Mbyll</div>
    </div>
  </div>
</div>

