.slot {
  width: 320px;
  height: 35px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.slot:hover {
  box-shadow: 0 0 0 10px #ccc;
}

.slot-time {
  display: none;
}

.agenda-slot {
  margin: 8px;
}


.is-new-client-content {
  gap:50px
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.time {
  font-size: 20px;
}

.reserved {
  background-color: #dc3545;
  opacity: 0.9;
}

.available {
  background-color: blue;
  opacity: 0.7;
}

.done {
  background-color: #0a8a0a;
  opacity: 0.7;

}

.reserved, .available, .done {
  color: white;
}

.select-wrapper {
  margin-bottom: 20px;
}




.info-section {
  margin-bottom: 10px;
}

.client-info h2,
.car-info h2 {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.client-info p,
.car-info p {
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.select-client {
  font-weight: bold;
}

.select-car {
  opacity: 1;
}

.select-car[disabled] {
  opacity: 0.7;
}


@media only screen and (max-width: 600px) {

  .calendar-container {
    overflow-y: scroll !important;
    width: 100vw;
  }

  .is-new-client-content {
    display: flex;
    flex-direction: column;
  }

  .slot-container {
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .agenda-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .time {
    display: none;
  }

  .slot {
    width: 70vw
  }

  .slots-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .slot-time {
    display: flex;
    font-size: 20px;
  }

  .agenda-slot {
    margin: 5px 0; /* Adjust margin for slots */
  }

  .tooltip {
    display: none;
  }
}



