<div class="main-container" *ngIf="serviceHistory.length===0">
  <h1 class="textCenter justify-content-center align-items-center">Ska Rezultate</h1>
</div>

<div class="main-container flex flex-direction-column" *ngIf="serviceHistory.length>0">
  <div class="service-history fullWidth ">
    <h3 class="textCenter">
      Historia e Faturave
    </h3>
    <div *ngFor="let history of filteredHistory">
      <div class="flex justify-content-space-between" (click)="setService(history)">
        <p>
          Data e fatures:
        </p>
        <h3>
          {{ history?.createdAt }}
        </h3>
      </div>
    </div>
  </div>

  <div class="service-description fullWidth">
    <div class="flex flex-direction-column align-content-center justify-content-center textCenter"
         *ngIf="!newService.invoiceId">
      <h1>Informacionet e makines</h1>
      <div class="flex flex-direction-row gap-40">
        <div>
          <h2>Brendi</h2>
          <h3>{{ car.model }}</h3>
        </div>
        <div>
          <h2>Modeli</h2>
          <h3>{{ car.make }}</h3>
        </div>
        <div>
          <h2>Viti</h2>
          <h3>{{ car.year }}</h3>
        </div>
        <div>
          <h2>Motori</h2>
          <h3>{{ car.engine }}</h3>
        </div>
      </div>
    </div>

    <div *ngIf="!newService.invoiceId"
         class="flex flex-direction-column justify-content-center align-content-center textCenter">
      <h1>Informacionet e Servisit</h1>
      <div class="info-container-service flex flex-direction-row gap-20">
        <div class="info-section">
          <h3>Kilometrat</h3>
          <h2>{{ newService.km }}km</h2>
        </div>
        <div class="info-section">
          <h3>Filteri Ajrit</h3>
          <app-icon class="align-self-center" [iconName]="newService.airFilter ? 'done' : 'close'"
                    [style.color]="newService.airFilter ? 'green' : 'red'"></app-icon>
        </div>
        <div class="info-section">
          <h3>Filteri Uljes</h3>
          <app-icon class="align-self-center" [iconName]="newService.oilFilter ? 'done' : 'close'"
                    [style.color]="newService.oilFilter ? 'green' : 'red'"></app-icon>
        </div>
        <div class="info-section">
          <h3>Filteri Klimes</h3>
          <app-icon class="align-self-center" [iconName]="newService.airConFilter ? 'done' : 'close'"
                    [style.color]="newService.airConFilter ? 'green' : 'red'"></app-icon>
        </div>
        <div class="info-section">
          <h3>Filteri Karburantit</h3>
          <app-icon class="align-self-center" [iconName]="newService.pumpFilter ? 'done' : 'close'"
                    [style.color]="newService.pumpFilter ? 'green' : 'red'"></app-icon>

        </div>
        <div class="info-section">
          <h3>Vaji i motorit</h3>
          <app-icon class="align-self-center" [iconName]="newService.engineOil ? 'done' : 'close'"
                    [style.color]="newService.engineOil ? 'green' : 'red'"></app-icon>

        </div>
      </div>
      <div>
        <h3>Pershkrimi</h3>
        <h2>
          {{newService.description}}
        </h2>
      </div>
    </div>

    <div *ngIf="newService.invoiceId" class="fullWidth">
      <div class="invoice-container">
        <div class="header">
          <div class="company-info">
            <p><strong>Auto Klima "ALI"</strong><br>
              Ali Xhelili<br>
              Recice e Madhe bb 101<br>
              Tel. 072 246 007</p>
          </div>
          <div class="logo">
            <img src="/assets/ali.png" height="180" width="240" alt="Company Logo">
          </div>
          <div class="invoice-info">
            <p><strong>Numri Fatures: {{invoice?.invoiceId}}</strong><br>
              Vendi Leshimit : Tetove<br>
              Data e Leshimit:<span>{{Date() | date: 'dd/MM/yyyy'}}</span> <br>
          </div>
        </div>

        <div class="section">
          <p>
            Emri Klientit:
            <span class="title"> {{invoice?.clientName}}</span>
          </p>
          <p *ngIf="invoice?.phone">
            Telefoni i Klientit:
            <span class="title"> {{invoice?.phone}}</span>
          </p>
        </div>

        <div class="section">
          <table class="items-table">
            <thead>
            <tr>
              <th>#</th>
              <th>Artikulli</th>
              <th>Sasia</th>
              <th>Cmimi</th>
              <th>Totali</th>
            </tr>
            </thead>
            <tbody *ngFor="let art of invoice?.items;index as i">
            <tr>
              <td>{{i}}</td>
              <td>{{art.art}}</td>
              <td>{{art.qty}}</td>
              <td>{{art.price}}</td>
              <td>{{art.total}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="section mb-30">
          <div class="title">Kontrolli</div>
          <p>
            Totali pa zbritje: {{invoice?.totalPrice}}<br>
            <span *ngIf="invoice?.discount">
        Zbritje: {{invoice?.discount}} %
        </span>
          </p>
          <div class="totals">
            <div class="total-row">
              <span>Per pages MKD:</span>
              <span *ngIf="!invoice?.discount">{{invoice?.totalPrice}} MKD</span>
              <span
                *ngIf="invoice?.discount">{{invoice?.totalPrice - ((invoice?.discount / 100) * invoice?.totalPrice)}}
                MKD</span>
            </div>
            <div class="total-row">
              <span>Per pages ne euro:</span>
              <span *ngIf="!invoice?.discount">{{(invoice?.totalPrice / 61.4).toFixed(2)}} EURO</span>
              <span
                *ngIf="invoice?.discount">{{((invoice.totalPrice - ((invoice?.discount / 100) * invoice?.totalPrice)) / 61.4).toFixed(2)}}
                EURO</span>
            </div>
          </div>
        </div>

        <div class="mt-30 flex justify-content-space-between">
          <div>
            <p>Dorezoi</p>
            <p>_______________________________</p>
          </div>
          <div>
            <p>Pranoi</p>
            <p>_______________________________</p>
          </div>
        </div>
        <div class="footer">
          <p>Vlera e perdorur per te konvertuar Denarin ne euro eshte 61.4</p>
          <p>Me ne gjithmone te sigurte</p>
          <p>Ju falemnderit</p>
        </div>
      </div>
    </div>
  </div>

</div>

