.service-history > div {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.service-history > div:hover {
  background-color: #f0f0f0;
}

.service-description {

  padding: 20px;
  border: 1px solid #ccc;
}

.car-info {
  margin-bottom: 20px;
}




.info-container-service {
  display: flex;
  flex-wrap: wrap;
}

.info-section{
  display: flex;
  flex-direction: column;
}



@media only screen and (min-width: 600px) {
  .main-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .service-history,
  .service-description {
    /*width: 50%;*/
  }
}
