<div cdkDropListGroup class="flex p-20 gap-40">

  <ng-container *ngFor="let lift of lifts">
    <div>
      <h2 class="textCenter">Lift {{ lift.lift }}</h2>
      <div  cdkDropList [cdkDropListData]="lift.timeslots" (cdkDropListDropped)="drop($event, lift)">
        <div class="slot"
             *ngFor="let item of lift.timeslots; let i = index; trackBy: trackByItem"
             [ngClass]="{'merged': checkIfSame(i, lift.timeslots), 'done': isDoneAgenda(item, lift), 'available': !item.reserved, 'reserved': item.reserved}"
             cdkDrag>
          <ng-container>
            <div (click)="reserveSlot(item, lift)">
              {{ item.value }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
