<div class="dashboard-container">
  <!-- Client Information Block -->
  <div class="info-block">
    <app-client-info></app-client-info>
    <!-- Client information content -->
  </div>


  <!-- Client's History Block -->
  <div class="history-block">
    <app-clients-history></app-clients-history>
    <!-- Client's history content -->
  </div>

  <!-- Client's Cars Block -->
  <div class="cars-block">
   <app-client-cars></app-client-cars>
    <!-- List of client's cars content -->
  </div>

</div>
