<div class="container">
  <div class="left-side">
    <div class="menu">
      <ul>
        <li><a *ngIf="localStorage.getItem('role')==='admin'" [routerLink]="'/dashboard/clients-list'">Klientet</a></li>
        <li><a [routerLink]="'/dashboard/calendar'">Terminet</a></li>
        <li><a *ngIf="localStorage.getItem('role') ==='admin'" [routerLink]="'/dashboard/storage'">Magazina</a></li>
      </ul>
    </div>
  </div>
  <div class="right-side">
    <router-outlet style="height: 100%"></router-outlet>
  </div>
</div>
