<div style="display: flex;height: 100%;background-color: #e2e2e2">
  <nav class="main-menu">
    <ul>
      <li *ngFor="let info of routes">
        <a [routerLink]="info.route" *ngIf="info.role.includes(localStorage.getItem('role')!)">
          <app-icon class="fa" [iconName]="info.icon"></app-icon>
          <span class="nav-text">
                            {{info.name}}
                        </span>
        </a>
      </li>
    </ul>
    <ul class="logout">
      <li>
        <a (click)="logOut()">
          <span class=" fa material-symbols-outlined">power_settings_new</span>
          <span class="nav-text">
                            Dil
                        </span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="area">
    <div style="background-color: #dc3545" (click)="mobileMenuToggle=!mobileMenuToggle" class="mobileMenu p-20">
      <app-icon iconName="menu"></app-icon>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="modals flex fullWidth flex-direction-column" [class.show-modal]="mobileMenuToggle">
  <div (click)="mobileMenuToggle=!mobileMenuToggle" class="fullWidth p-20 align-items-center flex menuStackContent">
    <app-icon iconName="menu"></app-icon>
    Close menu
  </div>
  <div
    class="p-20 menuStackContent flex  flex-direction-column fullWidth fullHeight align-items-center justify-content-space-evenly ">
    <div (click)="mobileMenuToggle=false" style="flex-wrap: wrap"
         class="fullWidth menuSize flex flex-direction-column mt-20 justify-content-center align-content-center">
      <div *ngFor="let info of routes">
        <div class="mt-20 gap-10 flex align-items-center"
             *ngIf="info.role.includes(localStorage.getItem('role')!)"
             [routerLink]="info.route"><span
          class="menuSize material-symbols-outlined">{{info.icon}}</span>{{info.name}}
        </div>
      </div>
    </div>
    <div (click)="logOut()" class="logout-icon menuSize flex align-items-center cursor-pointer"><span
      class="menuSize material-symbols-outlined">logout</span>Dil
    </div>
  </div>
</div>

